<!DOCTYPE html>
<!--Author- Bunmi Abioye
Program - Computer Applications Development
Date November 20, 2020 -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="css/onlinestore.css">
    <script src="js/onlinestore.js"></script>
</head>
<body>
    <header>
        <h1>Best Value Scientific Equipment</h1>
        <h2>The best deals you can find anywhere in Canada!</h2>
    </header>