<!--Author- Bunmi Abioye
Program - Computer Applications Development
Date November 20, 2020 -->

<nav class="topMenu">
  <ul>
    <li>
      <a href="/">Sign Up</a>
    </li>
    <li>
      <a href="/order">Make Orders</a>
    </li>
  </ul>
</nav>