<!--Author- Bunmi Abioye
Program - Computer Applications Development
Date November 20, 2020 -->

<%- include('layouts/header'); -%>

    <%- include('layouts/nav'); -%>
    <!--This is for the sign up section-->
    <section class="signUpPage">
        <form name="signUpForm" id="signUpForm" method="Post" onsubmit="return formSubmit();" action="">
          <div>
            <%
              if(typeof(errors) != 'undefined')
              {
                for(var error of errors)
                {
                  %> <p  class="errors" style="color:red;"><%= error.msg %></p><%
                }
              }
            %>
            <%
              if(typeof(phone) != 'undefined')
              {
                %> 
                  <p id="formResult"><u>Summary of your details</u></p>
                  <table>
                    <tr>
                      <th>Name: </th>
                      <td><%= firstName %> <%= lastName %></td>
                    </tr>
                    <tr>
                      <th>Address: </th>
                      <td><%= streetNumber %> <%= streetName %>, <%= city %>, <%= province %>, <%= postCode %>.</td>
                    </tr>
                    <tr>
                      <th>Email Address: </th>
                      <td><%= email %></td>
                    </tr>
                    <tr>
                      <th>Phone Number: </th>
                      <td><%= phone %></td>
                    </tr>                          
                  </table>
                  <p style="color:green;">Congratulations!!! <br> You have successfully signed up! <br> Please proceed to place your order by using the 'Make Orders' tab.</p>
                <%
              }
            %>
          </div>
            
          <h2>Sign up for free!</h2>
            <label for="firstName">First Name</label>&nbsp;
            <input id="firstName" placeholder="Enter your first name" type="text" name="firstName"><br/><br/>

            <label for="lastName">Last Name</label>&nbsp;
            <input id="lastName" placeholder="Enter your last name" type="text" name="lastName"><br/><br/>

            <label for="streetNumber">Street Number</label>&nbsp;
            <input id="streetNumber" type="number" name="streetNumber"><br/><br/>
            
            <label for="streetName">Street Name</label>&nbsp;
            <input id="streetName" type="text" name="streetName"><br/><br/>

            <label for="aptOrUnitNumber">Apartment or Unit Number (Optional)</label>&nbsp;
            <input id="aptOrUnitNumber" type="number" name="aptOrUnitNumber"><br/><br/>

            <label for="postCode">Postal Code</label>&nbsp;
            <input id="postCode" placeholder="X9X 9X9" type="postCode" name="postCode"><br/><br/>

            <label for="city">City</label>&nbsp;
            <input id="city" type="city" name="city"><br/><br/>

            <label for="province">Province</label>&nbsp;
            <select id="province" name="province">
                <option value="">----- Select -----</option>
                <option value="Alberta, Canada">Alberta</option>
                <option value="British Columbia, Canada">British Columbia</option>
                <option value="Manitoba, Canada">Manitoba</option>
                <option value="New Brunswick, Canada">New Brunswick</option>
                <option value="Newfoundland And Labrador, Canada">Newfoundland and Labrador</option>
                <option value="Northwest Territories, Canada">Northwest Territories</option>
                <option value="Nova Scotia, Canada">Nova Scotia</option>
                <option value="Nunavut, Canada">Nunavut</option>
                <option value="Ontario, Canada">Ontario</option>
                <option value="Prince Edward Island, Canada">Prince Edward Island</option>
                <option value="Quebec, Canada">Quebec</option>
                <option value="Saskatchewan, Canada">Saskatchewan</option>
                <option value="Yukon, Canada">Yukon</option>
            </select><br/><br/>  
        
            <label for="email">Email Address</label>&nbsp;
            <input id="email" placeholder="email@domain.com" type="myemail" name="email"><br/><br/>

            <label for="password">Password</label>&nbsp;
            <input id="password" placeholder="Password" type="password" name="password"><br/><br/>

            <label for="phone">Phone</label>&nbsp;
            <input id="phone" placeholder="XXXXXXXXXX" type="phone" name="phone"><br/><br/>

            <input id="signUp" name="signUp" type="submit" value="Sign Up"><br/><br/>
            
        </form>
    </section>
<%- include('layouts/footer'); -%>