<!--Author- Bunmi Abioye
Program - Computer Applications Development
Date November 20, 2020 -->

<%- include('layouts/header'); -%>
    <%- include('layouts/nav'); -%>
    <!--This is for the order section-->
    <section>
        <form name="orderPage" id="orderPage" method="POST" onsubmit="return checkOutPage();" action="">
            <label for="selectedProvince">Please select your province</label><br/>
            <select id="selectedProvince" name="selectedProvince">
                <option value="">----- Select -----</option>
                <option value="Alberta">Alberta</option>
                <option value="BritishColumbia">British Columbia</option>
                <option value="Manitoba">Manitoba</option>
                <option value="NewBrunswick">New Brunswick</option>
                <option value="NewfoundlandAndLabrador">Newfoundland and Labrador</option>
                <option value="NorthwestTerritories">Northwest Territories</option>
                <option value="NovaScotia">Nova Scotia</option>
                <option value="Nunavut">Nunavut</option>
                <option value="Ontario">Ontario</option>
                <option value="PrinceEdwardIsland">Prince Edward Island</option>
                <option value="Quebec">Quebec</option>
                <option value="Saskatchewan">Saskatchewan</option>
                <option value="Yukon">Yukon</option>
                <input type="submit" id="checkOut" name="checkOut" value="Check Out"><br/><br/>
            </select><br/><br/>  
            <h2 id="equipmentCatalogue">Recommended Equipment</h2>
                
                <h3>Glassware</h3>
                  <label for="beakers"><a href=”#”>Glass Beakers</a></label><br>
                  <img src="images/beakers.jpg" alt="Glass Beakers">
                  <br>
                  <p id=beakersCost>$<%= beakersCost.toFixed(2) %></p>
                  <p id=beakersOrder>Free Shipping<br>Delivered within 48 hours</p>
                  <label>Quantity</label>
                  <input id="beakersQuantity" type="number" name="beakersQuantity"><br><br><br/>
                  
                  <label for="bottles"><a href=”#”>Amber Bottle</a></label><br>
                  <img src="images/bottles.jpg" alt="10 Amber Bottles">
                  <p id=bottlesCost>$<%= bottlesCost.toFixed(2) %></p>
                  <p id=bottlesOrder>Free Shipping<br>Delivered within 48 hours</p>
                  <label>Quantity</label>
                  <input id="bottlesQuantity" type="number" name="bottlesQuantity"><br><br><br/>    

                <h3>Laboratory Instruments</h3>                    
                    <label for="microscope"><a href=”#”>Optical Microscope</a></label><br>
                    <img src="images/microscope.jpg" alt="Optical Microscope">
                    <br>
                    <p id=microscopeCost>$<%= microscopeCost.toFixed(2) %></p>
                    <p id=microscopeOrder>Free Shipping<br>Delivered within 48 hours</p>
                    <label>Quantity</label>
                    <input id="microscopeQuantity" type="number" name="microscopeQuantity"><br><br><br/>

                    <label for="thermometer"><a href=”#”>Multipurpose Thermometer</a></label><br>
                    <img src="images/thermometer.jpg" alt="Multipurpose Thermometer">
                    <br>
                    <p id=thermometerCost>$<%= thermometerCost.toFixed(2) %></p>
                    <p id=thermometerOrder>Free Shipping<br>Delivered within 48 hours</p>
                    <label>Quantity</label>
                    <input id="thermometerQuantity" type="number" name="thermometerQuantity"><br><br><br/>

                    <label for="incubator"><a href=”#”>Egg Incubator</a></label><br>
                    <img src="images/incubator.jpg" alt="Egg Incubator">
                    <br>
                    <p id=incubatorCost>$<%= incubatorCost.toFixed(2) %></p>
                    <p id=incubatorOrder>Free Shipping<br>Delivered within 48 hours</p>
                    <label>Quantity</label>
                    <input id="incubatorQuantity" type="number" name="incubatorQuantity"><br><br><br/>
                        
                    <input type="submit" id="checkOut" name="checkOut" value="Check Out"><br/><br/>
        </form>
    </Section>
    <div class="receiptPage">
      <%
        if(typeof(total) != 'undefined' && total > 10)
        {
          %>
            <p id="formResult"><u>Your Receipt</u></p>
            <table>
              <%
                if (beakersQuantity > 0)
                {
                  %>
                    <tr>
                      <th>Beakers (<%= beakersQuantity %>): </th>
                      <td>CAD $ <%= beakersPrice.toFixed(2) %></td>
                    </tr>
                  <%
                }
              %>
              <%
                if (bottlesQuantity > 0)
                {
                  %>
                    <tr>
                      <th>Bottles (<%= bottlesQuantity %>): </th>
                      <td>CAD $ <%= bottlesPrice.toFixed(2) %></td>
                    </tr>
                  <%
                }
              %>
              <%
                if (microscopeQuantity > 0)
                {
                  %>
                    <tr>
                      <th>Microscope (<%= microscopeQuantity %>): </th>
                      <td>CAD $ <%= microscopePrice.toFixed(2) %></td>
                    </tr>
                  <%
                }
              %>
              <%
                if (thermometerQuantity > 0)
                {
                  %>
                    <tr>
                      <th>Thermometer (<%= thermometerQuantity %>): </th>
                      <td>CAD $ <%= thermometerPrice.toFixed(2) %></td>
                    </tr>
                  <%
                }
              %>
              <%
                if (incubatorQuantity > 0){
                  %>
                    <tr>
                      <th>Incubator (<%= incubatorQuantity %>): </th>
                      <td>CAD $ <%= incubatorPrice.toFixed(2) %></td>
                    </tr>
                  <%
                }
              %>
              <tr>
                <th>---------------------</th>
                <td>---------------------</td>
              </tr>
              <tr>
                <th>Subtotal: </th>
                <td>CAD $ <%= subTotal.toFixed(2) %></td>
              </tr>
              <tr>
                <th>Tax (<%= taxPercent %>%): </th>
                <td>CAD $ <%= taxCharged.toFixed(2) %></td>
              </tr>
              <tr>
                <th>---------------------</th>
                <td>---------------------</td>
              </tr>
              <tr style="font-size: larger;">
                <th>Total: </th>
                <td>CAD $ <%= total.toFixed(2) %></td>
              </tr>
              <tr>
                <th>---------------------</th>
                <td>---------------------</td>
              </tr>
            </table>
          <%
        }
        else
        {
          %>
            <p>Note: A receipt will only be generated if your total order is greater than $10</p>
          <%
        }
      %>
      <%
        if(typeof(total) != 'undefined' && total < 10)
        {
          %>
            <p style="color:red;">Your transaction cannot be completed because your total order is CAD $ <%= total.toFixed(2) %>, which is less than the expected minimum purchase of $10</p>
          <%
        }
      %>
      <%
        if(typeof(total) != 'undefined' && selectedProvince == '')
        {
          %>
            <p style="color:red;">Your transaction cannot be completed because you have not selected your province</p>
          <%
        }
      %>
      <button>Print Receipt</button>
    </div>
<%- include('layouts/footer'); -%>