/* Author- Bunmi Abioye
Program - Computer Applications Development
Date November 20, 2020 */

header{
    background-image: -webkit-linear-gradient(45deg, white 0%, rgb(218, 215, 210) 75%, rgb(82, 80, 76) 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, rgb(218, 215, 210) 75%,rgb(82, 80, 76) 100%);
    background-image: -o-linear-gradient(45deg, white 0%,  rgb(218, 215, 210) 75%, rgb(82, 80, 76) 100%);
    background-image: linear-gradient(45deg, white 0%, rgb(218, 215, 210) 75%, rgb(82, 80, 76) 100%);
    padding: 15px; 
    border-bottom: 2px solid black; 
}
body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 18px;
	width: 100%;
    background-image: -webkit-linear-gradient(top, white 0%, #e6e6ff 100%);
}
section{
    margin: 0 0 0 20%;
    width: 45%;
    border: 2.5px solid #06498d;
    box-shadow: 0 0 10px white;
    padding: 2em;
    color: black;
    background-color:#e6e6ff;
    border-radius: 10px;
    float: left;
    clear: right;
}
.signUpPage{
    text-align: center;
}
label{
    width: 1000px;
    font-size: 18px;
    color: black;
}
img {
	float: left;
	height: 120px;
	padding: 1ex;
    margin-right: 10%;
    margin-left: 5%;
}
a { font-weight: bold; }
a:link {color: #931420; }
a:hover, a:focus {color: blue; }
a:visited { color: #f2972e; }
h1{
    font-size: 35px;
    text-align: center;
}
h2{
    font-size: 25px;
    text-align: center;
    margin: 5px;
    color: #000080;
    margin-bottom: 20px;
}
h3{
    font-size: 20px;
}
p {
    margin: 0;
    font-size: 18px
}
#errors {
    color: red;
    border: 2.5px solid whitesmoke;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    background-color: white;
}
#signUp {
    width: 40%;
    font-size: 18px;
    font-weight: bold;    
    background-color: #413c3f;
    color: white;
    border: 0px;
    padding: 10px;
    height: 40px;
    box-shadow: 0px 4px 4px gray;
    border-radius: 8px;
    text-align: center;
}
input[type="number"]{
    width:80px;
}
input[type="signUp"]:active{
    box-shadow: 0px 4px 4px #8a8289;
}
input[type="myemail"]{
    width: 200px;
}
input {
    font-size: 18px;
    text-align: center;
    color: #022a52;
}
#checkOut {
    float: right;
    width: 20%;
    font-size: 18px;
    font-weight: bold;
    background-color: #413c3f;
    color: white;
    border: 0px;
    padding: 10px;
    height: 40px;
    box-shadow: 0px 4px 4px gray;
    border-radius: 8px;
    text-align: center;
}
.receiptPage {
    border: 2.5px solid #06498d;
    padding: 1px;
    margin: 2%;
	width: 25%;
	float: right;
	padding: .25em;
	background-color: #e6e6ff;
    border-radius: 10px;
    text-align: right;
    font-family: DejaVu Sans Mono;
    font-size: 12px;
}
#receiptSummary, #VAT {
    font-size: 16px;
}
#receipt {
    font-size: 16px;
    font-weight: bold;
}
#totalCost {
font-size: 18px;
font-weight: bolder;
border-top: 2px solid black;
border-bottom: 2px solid black;
}
#provinceTax, #lowPurchase {
    color: red;
}
.topMenu{
    background-color: #08158c;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    color: white;
    border-radius: 20px;
}

.topMenu ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
}

.topMenu ul li{
    display: inline-block;
    width: 200px;
    border-left: 0.5px solid rgb(109, 92, 170);
    border-right: 0.5px solid rgb(109, 92, 170);
    margin: 0 5%;
    background-color:  #413c3f;
}

.topMenu ul li:hover{
    background-color: #0781b2;
}
.topMenu ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}
#formResult {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
table {
    margin: 0 25%;
    text-align: left;
}
.receiptPage table td {
    text-align: right;
}